*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/*	nav	*/

nav {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
	text-align: center;
}
.nav-list{
	width: 1024px;
	margin: 0 auto;
}
.nav-logo {
	height: 70px;
	float: left;
	}
.nav-list-item{
	display: inline-block;
	float: right;
	margin: 0 auto;
}
.nav-list-item a{
	font-size: 16px;
	color: #FAFAFA;
	margin: 0 30px;
	line-height: 70px;
	text-decoration: none;
}
.ham{
	background-color:  #fff;
	box-sizing: border-box;
	height: 100%;
	padding: 10px 40px;
	position: fixed;
	right: -300px;
	top: 0;
	transition: transform 0.3s linear 0s;
	width: 300px;
	z-index: 1000;
}
.ham::before{
	background-color: #fff;
	border-radius: 0 0 0 10px;
	color: #333;
	content: "≡";
	display: block;
	font-size: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: 100%;
	text-align: center;
	top: 0;
	width: 50px;
}
.ham:hover{
	transform: translate(-300px);
}

/*	main-visual	*/

.main-visual{
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: 50% 50%;
	text-align: center;
}
.main-visual-log{
	padding-top: 200px;
}
.main-text{
	font-size: 64px;
	color: #FAFAFA;
}
.main-text2{
	font-size: 20px;
	color: #FAFAFA;
	margin-top: 10px;
}

/* portfolio*/

.portfolio{
	width: 100%;
	background-color: #ECEFF1;
	text-align: center;
}
.port-title{
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
}
.port-title::after{
	content:"";
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0 auto;
	background-color: #EC715F;
}
.port-text{
	font-size: 16px;
	color: #000000;
	margin-top: 30px;
}
.port-box{
	width: 920px;
	margin-top: 20px;
	margin-bottom: 90px;
	display: inline-block;
}
.port-box1{
	width: 300px;
	height: 250px;
	margin-right: 10px;
	margin-top: 10px;
	background-size: cover;
	background-position: center;
	float: left;
}
.port-box1:nth-child(3){
	margin-right: 0;
}
.port-box1:nth-child(6){
	margin-right: 0;
}

/* feature */

.feature{
	width: 100%;
	text-align: center;
	padding-bottom: 90px;
	background-color: white;
}
.feature-title{
	padding-top: 90px;
	font-size: 32px;
}
.feature-title::after{
	content:"";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #EC715F;
	margin: 8px auto 0 auto;
}
.feature-text{
	margin:30px auto;
	font-size: 16px;
	color: #000000;
}
.feature-box{
	width: 980px;
	margin: 0 auto;
}
.feature-box1{
	width: 320px;
	display: inline-block;
	float: left;
	margin-left: 10px;
}
.feature-box1:nth-child(1){
	margin:0;
}

.fa-gift{
	font-size: 60px;
}
.feature-box-header{
	font-size: 20px;
	color: #000000;
	margin: 10px 0;
}

/* Profile */

.profile{
	width: 100%;
	text-align: center;
	display: inline-block;
}
.pro-title{
	padding-top: 90px;
	font-size: 32px;
	color: #000000;
}
.pro-title::after{
	content:"";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #EC715F;
	margin: 8px auto 0 auto;
}
.pro-text{
	font-size: 16px;
	color: #000000;
	margin:30px auto 0 auto;
}
.pro-box{
}
.pro-img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-top:30px;
	margin-left: 25%;
	margin-bottom: 20px;
	float: left;
}
.pro-box-text{
	width: 512px;
	text-align: left;
	margin:30px auto 90px auto;
	display: inline-block;
}
.pro-name{
	font-size: 20px;
}
.pro-text1{
	font-size: 16px;
	color: #000000;
}
.pro-skill{
	margin-top: 20px;
	font-size: 16px;
	color: #000000;
}

/* contact*/
.contact{
	text-align: center;
	background-color: white;
}
.contact-title{
	font-size: 32px;
	color: #000000;
	padding-top:90px;
}
.contact-title::after{
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #EC715F;
	margin: 8px auto 0 auto;
}
.contact-text{
	width: 800px;
	font-size: 16px;
	color: #000000;
	margin: 30px auto;
}
.contact-group{
	width: 800px;
	margin: 0 auto 90px 0;
	display: inline-block;

}
.contact-mail{
	width: 400px;
	float: left;
}
.mail{
	font-size: 20px;
	margin-bottom: 5px;
}
.tell{
	font-size: 20px;
	margin-top:20px;
}
.contact-sns{
	width: 400px;
	float: left;
}
.sns{
	font-size: 20px;
}
.fa-facebook-square{
	font-size: 50px;
	margin-left: 20px;
}

/* footer*/
footer{
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: #EC715F;
	padding: 50px 0;
}
.footer-text{
	font-size: 16px;
	color: #FAFAFA;
}

@media screen and (max-width:767px){
	nav{
		width: 90%;
		height: 50px;
		margin: 0 auto;
	}
	.nav-logo{
		height: 50px;
		/* main-visual */
	}
	.nav-list-item{
		display: none;
	}
	.main-visual{
	width: 90%;
	height: 650px;
	margin: 0 auto;
	background-image: url(img/code.png);
	background-size: cover;
	background-position: 50% 50%;
	text-align: center;
	}
	.main-text{
		font-size: 40px;
		padding-top: 50px;
	}
	.main-text2{
		font-size: 18px;
	}
	/* portfolio */
	.portfolio{
		width: 90%;
		margin: 0 auto;
	}
	.port-box{
	width: 300px;
	margin-top: 30px;
	margin-bottom: 90px;
	display: inline-block;
	}
	.port-box1:nth-child(1){
		display: none;
	}
	.port-box1:nth-child(3){
		display: none;
	}
	.port-box1:nth-child(5){
		display: none;
	}
	/* Feature */
	.feature{
		width: 100%;
		margin: 0 auto;
	}
	.feature-box{
		width: 320px;
		margin: 0 auto;
	}
	.feature-box1{
		margin-top: 10px;
	}
	/* Profile */
	.profile{
		width: 90%;
		margin: 0;
	}
	.pro-img{
		margin:30px auto 0 auto;
		float: none;
	}
	.pro-box-text{
		width: 90%;
		text-align: center;
	}
	/* contact */
	.contact{
		width: 100%;
	}
	.contact-text{
		width: 100%;
	}
	.contact-group{
		width:100%;
		margin-top: 30px;
	}
	.contact-mail{
		margin: 0 auto;
		float: none;
	}
	.contact-sns{
		margin: 20px auto 0 auto;
		float: none;
	}
	/* footer */
	footer{
		width: 100%;
	}
	.footer-text{
		width: 100%;
	}
